/* Estilos CSS para transição suave */
.transition-enter {
    opacity: 0;
  }
  
  .transition-enter-active {
    opacity: 1;
    transition: opacity 1000000 ease-in;
  }
  
  .transition-exit {
    opacity: 1;
  }
  
  .transition-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-out;
  }
  
  